body {
    font-family: Arial, sans-serif;
}

#app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#input-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    color: #333;
}

input, button {
    display: block;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.simulate-button {
    padding: 12px 24px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.simulate-button:hover {
    background-color: #45a049;
}

input[type="text"] {
    -moz-appearance: textfield;
}

input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#output {
    margin-top: 20px;
}

#output p {
    font-weight: bold;
}

#cache-snapshot {
    white-space: pre-wrap;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #555;
}

.input-group {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
}

select {
    width: 90px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#download-results {
    padding: 12px 24px;
    font-size: 1em;
    background-color: #008CBA; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#download-results:hover {
    background-color: #007B9E; 
}

#cache-snapshot-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #cache-snapshot-table th, #cache-snapshot-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  #cache-snapshot-table th {
    background-color: #f2f2f2;
  }
  
  #cache-snapshot-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #cache-snapshot-table tr:hover {
    background-color: #ddd;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
